/*Importamos el font*/
@import url('https://fonts.googleapis.com/css2?family=Borel&family=Dancing+Script:wght@500&family=Oswald&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto&family=Shadows+Into+Light&display=swap');

body {
    font-family: Poppins;
    margin: 0;
    background-color: #eee;
    color: #010101;
}

/*Menú*/
header nav {
    width: 1200px;
    max-width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    grid-template-rows: 50px;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 100;
}

header nav .logo {
    font-weight: bold;
    font-size: 17px;
}

header nav .menu {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: end;
    gap: 20px;
    font-weight: 500;
}

header nav .menu li.active {
    color: #0077B6;
    padding: 3px;
    border-bottom: 3px solid #0077B6;

}

/*Cambiar colores a las listas*/
header nav .menu li:hover {
    color: #0077B6;
    padding: 3px;
    border-bottom: 3px solid #0077B6;

}

/*Sección 1*/
section .contenido1 {
    display: flex;
    justify-content: center;
    gap: 100px;
    padding-top: 50px;
}

section .contenido1 img {
    width: 400px;
    height: 550px;

}

section .contenido1 .presentacion {
    width: 450px;

}

section .contenido1 .presentacion h1 {
    text-align: center;
}

section .contenido1 .presentacion p {
    text-align: justify;
    font-size: 18px;
}


section .contenido1 .presentacion .info1 {
    border: 2px solid #0077B6;
    background-color: #0077B6;
    width: 100px;
    margin: 0 auto;
    /* Esto centra el div horizontalmente */
    border-radius: 15px;
}

section .contenido1 .presentacion .info1 p {
    text-align: center;
    font-size: 14px;
    color: #eee;
}

section .contenido1 .presentacion .info1:hover {
    border: 2px solid #1d2445;
    background-color: #1d2445;
    color: #eee;
}