/*Importamos el font*/
@import url('https://fonts.googleapis.com/css2?family=Borel&family=Dancing+Script:wght@500&family=Oswald&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto&family=Shadows+Into+Light&display=swap');

body {
    font-family: Poppins;
    margin: 0;
    background-color: #eee;
    color: #010101;
}

/*Menú*/
header nav {
    padding: 4px;
    width: 100%;
    max-width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    grid-template-rows: 50px;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 100;
}



/*Para poder hacer el scrolled*/
header nav.scrolled {
    background-color: rgba(255, 255, 255, 0.9);
    /* Cambia el color a blanco con transparencia */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    /* Añade una sombra sutil */
}

header nav .logo {
    font-weight: bold;
    font-size: 19px;
    padding: 60px;

}

header nav .menu {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: end;
    gap: 20px;
    font-weight: 500;
}

/*Menú responsive*/
header nav .sidebar {
    position: fixed;
    margin-top: 700px;
    width: 100%;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    /*Para ocultar la barra de tareas del responsive*/
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

}


header nav .sidebar li {
    list-style: none;
    width: 100%;
    padding: 10px;
}



header nav .sidebar li a {
    text-decoration: none;
    width: 100%;
    color: #000;
}

header nav .sidebar li a.active {
    color: #0077B6;
    padding: 7px;
    border-bottom: 3px solid #0077B6;
}

header nav .sidebar a:hover {
    color: #0077B6;
    padding: 7px;
    border-bottom: 3px solid #0077B6;
}



/*Normal*/
header nav .menu li a {
    text-decoration: none;
    color: #000;

}

header nav .menu li a.active {
    color: #0077B6;
    padding: 7px;
    border-bottom: 3px solid #0077B6;
}

/*Cambiar colores a las listas*/
header nav .menu li a:hover {
    color: #0077B6;
    padding: 3px;
    border-bottom: 3px solid #0077B6;

}

/*El icono de hamburguesa*/
header nav .menu .menu-button {
    display: none;
}


/*Sección 1*/
section .contenido1 {
    display: flex;
    justify-content: center;
    gap: 100px;
    padding-top: 130px;
    padding-bottom: 130px;
}

section .contenido1 img {
    width: 400px;
    height: 550px;

}

section .contenido1 .presentacion {
    width: 450px;

}

section .contenido1 .presentacion h1 {
    text-align: center;
}

section .contenido1 .presentacion a {
    text-decoration: none;
}

section .contenido1 .presentacion p {
    text-align: justify;
    font-size: 18px;
}


section .contenido1 .presentacion .info1 {
    border: 2px solid #0077B6;
    background-color: #0077B6;
    width: 100px;
    margin: 0 auto;
    /* Esto centra el div horizontalmente */
    border-radius: 15px;
}

section .contenido1 .presentacion .info1 p {
    text-align: center;
    font-size: 14px;
    color: #eee;
}

section .contenido1 .presentacion .info1:hover {
    border: 2px solid #1d2445;
    background-color: #1d2445;
    color: #eee;
}


/*Sección 2*/
.seccion2 {

    color: #eee;
}

.seccion2 .slider {
    height: 100vh;
    margin-top: -50px;
    position: relative;
    background-attachment: fixed;
}

.seccion2 .slider .list .item {
    position: absolute;
    inset: 0 0 0 0;
    overflow: hidden;
    /*1. Colocamos para mostrarlo abajo*/
    position: absolute;
    transition: .5s;
}

.seccion2 .slider .list .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.seccion2 .list .item::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    background-image: linear-gradient(to top, #000 40%, transparent);
}

.seccion2 .slider .list .item .content {
    position: absolute;
    left: 10%;
    top: 20%;
    width: 500px;
    max-width: 80%;
    z-index: 1;
}

.seccion2 .slider .list .item .content p:nth-child(1) {
    text-transform: uppercase;
    letter-spacing: 10px;
}

.seccion2 .slider .list .item .content h2 {
    font-size: 100px;
    margin: 0;
}

/*1.1. Mostramos el contenido del active*/
.seccion2 .slider .list .item.active {
    opacity: 1;
    z-index: 10;
}

/*Hacemos la transición*/
@keyframes showContent {
    to {
        transform: translateY(0);
        filter: blur(0);
        opacity: 1;
    }
}

.seccion2 .slider .list .item.active p:nth-child(1),
.seccion2 .slider .list .item.active h2,
.seccion2 .slider .list .item.active p:nth-child(3) {
    transform: translateY(30px);
    filter: blur(20px);
    opacity: 0;
    animation: showContent .5s .7s ease-in-out 1 forwards;
}

.seccion2 .slider .list .item.active h1 {
    animation-delay: 1s;
}

.seccion2 .slider .list .item.active p:nth-child(3) {
    animation-duration: 1.3s;
}

/*Botones*/
.seccion2 .arrows {
    position: absolute;
    top: 30%;
    right: 50px;
    z-index: 100;
}

.seccion2 .arrows button {
    background-color: #eee5;
    border: none;
    font-family: monospace;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    font-size: x-large;
    color: #eee;
}

.seccion2 .arrows button:hover {
    background-color: #eee;
    color: black;
}

/*Miniaturas*/
.seccion2 .thumbnail {
    position: absolute;
    bottom: 50px;
    z-index: 11;
    display: flex;
    gap: 10px;
    width: 100%;
    height: 250px;
    padding: 0 50px;
    box-sizing: border-box;
    overflow: auto;
    justify-content: end;
}

.seccion2 .thumbnail::-webkit-scrollbar {
    width: 0;
}

.seccion2 .thumbnail .item {
    width: 150px;
    height: 220px;
    filter: brightness(.5);
    transition: .5s;
    flex-shrink: 0;
}

.seccion2 .thumbnail .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.seccion2 .thumbnail .item.active {
    filter: brightness(1.5);
}

.seccion2 .thumbnail .item .content {
    position: absolute;
    inset: auto 10px 10px 10px;
}

/*Sección 3 */
/* .seccion3 {
    min-width: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
} */

.seccion3 .info3 h3 {
    text-align: center;
    padding-top: 40px;
    font-size: 23px;
}

.seccion3 .info3 .container {
    max-width: 1500px;
    width: 100%;
    padding: 40px 0;
}

.seccion3 .info3 .container .slide-container {
    margin: 30px 50px;
    overflow: hidden;
}

.seccion3 .info3 .container .slide-container .card-wrapper .card {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 8px;
}

.seccion3 .info3 .container .slide-container .card-wrapper .card:hover {
    padding: 5px;
}

.seccion3 .info3 .container .slide-container .card-wrapper .card .image-box {
    height: 250px;
    /*   width: 290px; */
}

.seccion3 .info3 .container .slide-container .card-wrapper .card .image-box img {
    width: 100%;
    height: 100%;
    border-radius: 8px 8px 20px 20px;
}

.seccion3 .info3 .container .slide-container .card-wrapper .card .infoCard {
    padding: 15px;
    column-gap: 12px;
    align-items: center;
    display: flex;
}

.seccion3 .info3 .container .slide-container .card-wrapper .card .infoCard .name {
    font-size: 17px;
    font-weight: 500px;
    color: #000;
    text-align: center;
    padding: 10px;
}

.seccion3 .info3 .container .slide-container .card-wrapper .card .infoCard .infoDetail p {
    font-size: 12px;
    font-weight: 400px;
    color: #4d4d4d;
    text-align: justify;
}

.seccion3 .info3 .container .slide-container .card-wrapper .card .infoCard .infoDetail .mas {
    font-size: 12px;
    text-align: center;
    margin-top: 20px;
    padding: 7px;
    border: 2px solid #0077B6;
    background-color: #0077B6;
    width: 100px;
    margin: 0 auto;
    border-radius: 15px;
}

.seccion3 .info3 .container .slide-container .card-wrapper .card .infoCard .infoDetail .mas:hover {
    border: 2px solid #1d2445;
    background-color: #1d2445;
    color: #fff;
}

.seccion3 .info3 .container .slide-container .card-wrapper .card .infoCard .infoDetail .mas a {
    text-decoration: none;

    color: #fff;

}

.seccion3 .info3 .container .swiper-button-prev {
    color: #0077B6
}

.seccion3 .info3 .container .swiper-button-next {
    color: #0077B6;

}

/*Mis proyectos*/
.seccionProyecto {
    padding-top: 100px;
    justify-content: center;
}

.seccionProyecto .containerP {
    padding: 15px 9px;
    padding-top: 30px;
}

.seccionProyecto .containerP .headingP {
    text-align: center;
    padding-bottom: 15px;
    color: #000;
    font-size: 50px;
}


/*Card Presentación*/
.seccionProyecto .containerP .box-containerP {
    margin: 30px 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap: 15px;
}

.seccionProyecto .containerP .box-containerP .cardP {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 8px;
    width: 300px;
    margin-bottom: 50px;

}

.seccionProyecto .containerP .box-containerP .cardP:hover {
    padding: 5px;
}

.seccionProyecto .containerP .box-containerP .cardP .image-boxP {
    height: 250px;
    /*   width: 290px; */
}

.seccionProyecto .containerP .box-containerP .cardP .image-boxP img {
    width: 100%;
    height: 100%;
    border-radius: 8px 8px 20px 20px;
}

.seccionProyecto .containerP .box-containerP .cardP .infoCardP {
    padding: 15px;
    column-gap: 12px;
    align-items: center;
    display: flex;
}

.seccionProyecto .containerP .box-containerP .cardP .infoCardP .nameP {
    font-size: 17px;
    font-weight: 500px;
    color: #000;
    text-align: center;
    padding: 10px;
}

.seccionProyecto .containerP .box-containerP .cardP .infoCardP .infoDetailP p {
    font-size: 12px;
    font-weight: 400px;
    color: #4d4d4d;
    text-align: justify;
}

.seccionProyecto .containerP .box-containerP .cardP .infoCardP .infoDetailP .masP {
    font-size: 12px;
    text-align: center;
    margin-top: 20px;
    padding: 7px;
    border: 2px solid #0077B6;
    background-color: #0077B6;
    width: 100px;
    margin: 0 auto;
    border-radius: 15px;
}

.seccionProyecto .containerP .box-containerP .cardP .infoCardP .infoDetailP .masP:hover {
    border: 2px solid #1d2445;
    background-color: #1d2445;
    color: #fff;
}

.seccionProyecto .containerP .box-containerP .cardP .infoCardP .infoDetailP .masP a {
    text-decoration: none;

    color: #fff;

}


.seccionProyecto .imgGif1 img {

    height: 270px;
    margin-bottom: -170px;
}

.seccionProyecto .imgGif2 img {
    height: 200px;
    margin-left: 1200px;
}


/*DETALLE DEL PROYECTO*/
.back {
    padding: 10px;
    color: #000;
}

.back a {

    text-decoration: none;
    align-items: center;
    color: #000;
    font-weight: 500;
    display: flex;
    gap: 3px;
}

.seccionDetalle .infoDetalle h3 {
    text-align: center;
    padding-top: 40px;
    font-size: 23px;
}

.seccionDetalle .infoDetalle .container {
    max-width: 1500px;
    width: 70%;
    padding: 40px 0;
}

.seccionDetalle .infoDetalle .container .slide-container {
    margin: 30px 50px;
    overflow: hidden;
}

.seccionDetalle .infoDetalle .container .slide-container .card-wrapper .card {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 15px;
}

.seccionDetalle .infoDetalle .container .slide-container .card-wrapper .card:hover {
    padding: 5px;
}

.seccionDetalle .infoDetalle .container .slide-container .card-wrapper .card .image-box {
    height: 350px;
    border-radius: 15px;
    /*   width: 290px; */
}

.seccionDetalle .infoDetalle .container .slide-container .card-wrapper .card .image-box img {
    width: 100%;
    height: 100%;
    border-radius: 8px 8px 20px 20px;
}

.seccionDetalle .informacion {
    padding: 50px;
    width: 90%;

}

.seccionDetalle .informacion h2 {
    font-size: 20px;
    font-weight: 600;
}

.seccionDetalle .informacion p {
    text-align: justify;
}


.seccionDetalle .infoDetalle .container .swiper-button-prev {
    color: #0077B6
}

.seccionDetalle .infoDetalle .container .swiper-button-next {
    color: #0077B6;

}

/*Enlace código*/
.github a img {
    width: 35px;
    height: 35px;
}

.github {
    display: flex;
    gap: 6px;
    justify-content: right;
}

.github a {
    text-decoration: none;
    color: #0077B6;
}

.github a:hover {

    color: #000;
}

.seccionDetalle .imgGif2 {
    text-align: right;
}

.seccionDetalle .imgGif2 img {
    height: 200px;

}

/*Sección Contacto*/

.seccionContacto {
    padding-top: 100px;
    display: flex;
    gap: 240px;
    padding-bottom: 70px;
}

.seccionContacto img {
    height: 480px;
}

.seccionContacto .contacto {
    margin-left: 100px;
    padding: 20px;
    width: 500px;
}


.seccionContacto .contacto .info h1 {
    font-size: 30px;
}

.seccionContacto .contacto .redes {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    gap: 15px;

}

.seccionContacto .contacto .redes .redesLink {
    padding: 10px;
}

.seccionContacto .contacto .redes .redesLink {
    display: flex;
    gap: 12px;
    text-align: center;
}

.seccionContacto .contacto .redes .redesLink img {
    width: 55px;
    height: 55px;
    align-items: center;
}

.seccionContacto .contacto .redes .redesLink a {
    text-decoration: none;
    align-items: center;

    font-weight: 500;
    display: flex;
    gap: 3px;
}

.seccionContacto .contacto .redes .redesLink .facebook {
    color: #003860;
}

.seccionContacto .contacto .redes .redesLink .whatsapp {
    color: #007F24;
}

.seccionContacto .contacto .redes .redesLink .linkedin {
    color: #0E72CE;
}

.seccionContacto .contacto .redes .redesLink .githubS {
    color: #000;
}

.seccionContacto .contacto .redes .redesLink .gmail {
    color: #CE0E25;
}

/*SECCIÓN SOBRE MÍ*/
.seccionAbout {
    padding-top: 140px;
    padding-bottom: 140px;
    margin-left: 180px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    gap: 15px;
}

.seccionAbout .aboutContainer {
    padding-right: 100px;
}

.seccionAbout .aboutContainer p {
    text-align: justify;
}

.seccionAbout .aboutContainer a {
    background-color: #0077B6;
    padding: 10px;
    color: #eee;
    text-decoration: none;
    border-radius: 18px;
    font-size: 13px;
}

.seccionAbout .aboutContainer a:hover {
    background-color: #000;
}



.seccionAbout .interesContainer .boxInteres {
    width: 350px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 10px;

}

.seccionAbout .interesContainer .boxInteres .card {
    background-color: #d4d4d4;
    width: 80px;
    height: 90px;
    border-radius: 15px;

}

.seccionAbout .interesContainer .boxInteres .card:hover {
    padding: 10px;
}

.seccionAbout .interesContainer .boxInteres .card .cardInfo {
    display: block;
    justify-content: center;
    /* Para centrar horizontalmente */
    align-items: center
}

.seccionAbout .interesContainer .boxInteres .card .cardInfo img {
    width: 45px;
    height: 45px;
    margin-top: 20px;
    margin-left: 20px;
}










/*Footer*/
footer {
    display: column;

}

footer ul li {
    list-style: none;
    text-align: center;
    font-size: 12px;
}


footer ul li:nth-child(1) {
    font-size: 15px;
    padding-top: 50px;
    font-weight: bold;
}




/*Responsive*/
@media screen and (max-width:678px) {

    /*Menú responsive*/
    header nav .sidebar {
        margin-top: 800px;
        height: 100%;


    }

    header nav .sidebar li {
        padding: 10px;
    }

    header nav .sidebar a.active {
        color: #0077B6;
        padding: 7px;
        border-bottom: 3px solid #0077B6;
    }

    header nav .menu .hideOnMobile {
        display: none;
    }

    header nav .menu .menu-button {
        display: flex;
    }




    /*Sección 1*/
    section .contenido1 {

        justify-content: center;
        gap: 20px;
        padding-top: 130px;
        padding-bottom: 130px;
    }

    section .contenido1 img {
        display: none;
    }

    section .contenido1 .presentacion {
        justify-content: center;
        width: 200px;

    }

    section .contenido1 .presentacion h1 {
        text-align: center;
    }

    section .contenido1 .presentacion p {
        text-align: justify;
        font-size: 15px;
    }

    /*Seccion 2*/
    .seccion2 .thumbnail {
        justify-content: start;

    }

    .seccion2 .slider .list .item .content h2 {
        font-size: 60px;
    }

    .seccion2 .arrows {
        top: 10%;
    }

    /*PAGE PROYECTOS*/
    .seccionProyecto .containerP .headingP {
        font-size: 25px;
    }

    .seccionProyecto .containerP .box-containerP .cardP {
        margin-bottom: 20px;

    }

    .seccionProyecto .imgGif1 img {
        display: none;
    }

    .seccionProyecto .imgGif2 img {
        display: none;
    }

    /*Detalle del proyecto*/
    .seccionDetalle .infoDetalle .container {

        width: 100%;

    }

    .seccionDetalle .infoDetalle .container .slide-container .card-wrapper .card .image-box {
        height: 250px;

    }



    .seccionDetalle .imgGif2 {
        text-align: right;
    }

    .seccionDetalle .imgGif2 img {
        height: 110px;

    }

    .seccionDetalle .informacion {
        padding: 30px;


    }

    .seccionDetalle .informacion h2 {
        font-size: 17px;

    }

    .seccionDetalle .informacion p {
        font-size: 13px;
    }

    /*Sección contacto*/

    .seccionContacto {
        display: column;
        padding-top: 70px;
        padding-bottom: 300px;
        justify-content: center;
    }

    .seccionContacto .img-boxContact img {
        display: none;
    }

    .seccionContacto .contacto {
        margin-left: 200px;
        padding: 10px;
        width: 300px;
    }

    .seccionContacto .contacto .info {
        width: 300px;
    }

    .seccionContacto .contacto .info h1 {
        font-size: 22px;
    }

    .seccionContacto .contacto .redes {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        gap: 10px;

    }

    .seccionContacto .contacto .info p {
        text-align: justify;
        font-size: 17px;
    }



    .seccionContacto .contacto .redes .redesLink img {
        width: 30px;
        height: 30px;
        align-items: center;
    }

    .seccionContacto .contacto .redes .redesLink a {
        font-size: 14px;

    }

    /*SECCIÓN SOBRE MÍ*/

    .seccionAbout {
        padding-top: 90px;
        margin-left: 5px;
        padding-bottom: 140px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
        gap: 66px;
    }

    .seccionAbout .aboutContainer {
        justify-content: center;
        text-align: center;
        width: 300px;

        padding: 40px;
    }

    .seccionAbout .aboutContainer p {
        font-size: 14px;
    }


    .seccionAbout .interesContainer {

        margin-left: 52px;
    }

    .seccionAbout .interesContainer h2 {
        text-align: center;
    }

    .seccionAbout .interesContainer .boxInteres {

        width: 330px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        gap: 10px;

    }

    .seccionAbout .interesContainer .boxInteres .card {

        width: 70px;
        height: 80px;


    }

    .seccionAbout .interesContainer .boxInteres .card .cardInfo img {
        width: 35px;
        height: 35px;

    }

}